<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="VueJs Blackjack">
  <title>VueJS Blackjack</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="./app.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="app" class="container" v-cloak>
    <div class="row header">
      <div class="col-sm-12 text-center">
        <h1>Blackjack!</h1>
        <hr>
      </div>
    </div>
    <div v-if="!roundStarted" class="row start-game">
      <div class="col-sm-12 text-center">
        <button v-on:click="start" class="btn btn-primary">Start Game</button>
      </div>
    </div><!-- .start-game !roundStarted -->

    <div v-else class="row game-container">
      <div class="col-sm-12">
        <div v-if="!rulesRead" class="row rules">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="row">
              <div class="col-sm-12">
                <h3>Rules</h3>
                <h4>How to Win:</h4>
                <ul>
                  <li>Cards' sum equalling 21 blackjack!</li>
                  <li>Cards' sum closest to, <strong>but not over</strong>, 21.</li>
                </ul>
                <h4>Card Values</h4>
                <table class="table table-condensed">
                  <tr>
                    <td>Ace</td>
                    <td>1 <strong>or</strong> 11</td>
                  </tr>
                  <tr>
                    <td>Face Cards</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>All Other</td>
                    <td>Their respective numbered value</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <button v-on:click="readRules" class="btn btn-primary">Got it</button>
              </div>
            </div>
          </div>
        </div><!-- .rules !rulesRead -->
        <div v-else class="row game">
          <div class="col-sm-12">

            <div class="row">
              <div class="col-sm-9">
                <h3>Game</h3>
                <table class="table">
                  <tr>
                    <td><strong>Your Score</strong>: {{ cardSum(cards.player) }}</td>
                    <td><strong>Dealer Score</strong>: <span v-if="roundOver">{{ cardSum(cards.dealer) }}</span><span v-else>??</span></td>
                    <td class="text-center">
                      <span v-if="roundOver">
                        <button class="btn btn-primary" v-on:click="newRound">Play Again</button>
                      </span>
                      <span v-else>
                        <div v-if="cards.player.length === 0">
                          <button v-on:click="playerDrawCard()" class="btn btn-success">Get Cards</button>
                        </div>
                        <div v-else>
                          <button v-on:click="playerDrawCard()" class="btn btn-success">Hit</button>
                          <button v-on:click="endGame" class="btn btn-default">Stay</button>
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-center" style="border-top: none;">
                      <div v-if="roundOver">
                        <h2>Game Over!</h2>
                        <h3>Winner: {{ lastWinner }}</h3>
                      </div>
                    </td>
                  </tr>
                </table>
              </div><!-- .col.game -->

              <div class="col-sm-3">
                <h3>Leaderboard</h3>
                <table class="table">
                  <tbody>
                    <tr v-for="score in sortedScores">
                      <th>{{ score[0] | capitalize }}</th>
                      <td>{{ score[1] }}</td>  
                    </tr>
                  </tbody>
                </table>
              </div><!-- .col.game.score -->

            </div><!-- .row -->

            <hr>

            <div class="row">
              <div class="col-sm-12">

                <div class="row">
                  <div class="col-sm-12">
                    <h3>Your Cards:</h3>
                    <div v-if="cards.player.length > 0" class="row">
                      <div class="col-xs-3 col-sm-2" v-for="card in cards.player">
                        <img class="card img-responsive" :src="card.image" :alt="card.value + ' of ' + card.suit">
                      </div>
                    </div>
                    <div v-else class="row">
                      <div class="col-xs-3 col-sm-2">
                        <img class="card secret invisible img-responsive" src="http://via.placeholder.com/226x314/ffffff/000000/?text=%3F" alt="Dealer secret card" >
                      </div>
                    </div>
                  </div>
                </div><!-- .row.player.cards -->

                <hr>

                <div class="row dealer cards">
                  <div class="col-sm-12">
                    <h3>Dealer Cards:</h3>
                    <div v-if="roundOver" class="row">
                      <div class="col-xs-3 col-sm-2" v-for="card in cards.dealer">
                        <img class="card img-responsive" :src="card.image" :alt="card.value + ' of ' + card.suit">
                      </div>
                    </div>
                    <div v-else class="row">
                      <div v-if="cards.dealer.length > 0" class="col-xs-3 col-sm-2">
                        <img class="card img-responsive" :src="cards.dealer[0].image" :alt="cards.dealer[0].value + ' of ' + cards.dealer[0].suit">
                      </div>
                      <div class="col-xs-3 col-sm-2">
                        <img class="card secret img-responsive" src="http://via.placeholder.com/226x314/ffffff/000000/?text=%3F" alt="Dealer secret card">
                      </div>
                    </div>
                  </div>
                </div><!-- .row.dealer.cards -->

              </div>
            </div>

          </div>
        </div><!-- .game !!rulesRead -->
      </div>
    </div><!-- .game-container !!roundStarted -->

  </div><!-- #app -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>
